body {
  margin: 0 20px;
  font-family: "Trebuchet MS", arial, helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}  
p.nocomment {
  text-align: center;
  margin: 30px 0;
}
p.nocomment img {
  max-width: 100%;
}
a.source {
 color: black; 
 margin: 0;
 padding: 0;
 font-size: 75%;
 font-family: "Palatino", arial, helvetica, sans-serif;
}
div.up {
  float:right;
  position: relative;
  right: -25px;
  top: 20px;
}
.rubriques {
  font-size: 1.4em;
  font-variant: small-caps;
  text-decoration: underline;
  margin-bottom: 8px;
}
a {
  text-decoration: none;
  color: #ff0000;
}
a#mail, a#telegram {
  color: black;
}
h1 {
  text-align: center;
}
h1, h2, h3 {
  color: #ff0000;
  line-height: 1.1;
}
h3 {
  text-decoration: underline;
}
div#logo {
  text-align: center;
}
p.image {
  text-align: center;
} 
li {
 display : list-item;
 list-style-image : url(img/puce.gif);
 margin-bottom: 8px;
} 
p.media {
  font-size: 80%;
  text-align: center;
  line-height: 1;
}
p.media a {
  color: black;
}
p.media img {
  vertical-align: middle;
  margin-right: 5px;
}

/* annuairess */

span.groupe-local {
  font-size: 1.2em;
  color: #1a3dFF;
}

table.victimes th {
  background-color: #1a3d5e;
}
table {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #f2f2f2
}
th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #04AA6D;
  color: white;
}

div#preview {
  display: grid;    
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "grid-bandeau"
    "grid-menu"
    "grid-content"
    "grid-logo";
  padding: 20px;      
}
div#bandeau {
  grid-area: grid-bandeau;
}
div.communique {
  font-size: 1em;
  background-color: #ccffff;
  box-shadow: 10px 10px 8px #CCC;
  border-radius:8px;  
  padding: 0 20px;
  color: #444;
  border: solid 1px blu;
}
div.communique span {
  color: black;
  font-variant: small-caps;
  font-size: 1.5em;
  margin-right: 20px;
}
span.important {
  color: #ff0000 !important;
  font-variant: normal !important;  
}
div#menu {
/*  grid-area: grid-menu;
  display: grid;
  grid-template-columns: 1fr;
*/}
div#buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
div#buttons div.rubrique {
  border-radius:8px;  
  padding: 0 20px;
  color: #444;
  border: solid 2px #1c3d5e;
  background-color: #1c3d5e;
  color: white;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.2em;
  margin: 10px;
}
div.rubrique p {
  margin: 0;
  padding: 4px 2px;
}
div.rubrique a {
  color: #EEE;
}
div.rubrique.on {
  background-color: white ! important;
  color: #1c3d5e ! important;
}
div.rubrique.off {
  display: none;
}
div#content {
  grid-area: grid-content;
}
div#logo {
  grid-area: grid-logo;
}
div#logo img {
  max-width: 100px;
}
div#border {
  margin: 20px;
  padding: 10px;
  border: solid 1px;
}
p.copyright {
  position: relative;
  top: -10%;
  left: 10%;
  color: gray;
  font-size: 8px;
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
  div#buttons {
    flex-flow: column wrap;
  }  
}
blockquote {
  margin-left: 2 em;
  padding-left: 1em;
  border-left: solid 5px #CCC;
  font-style: italic;
  font-size: 0.9em;
}
span.outil {
  display: inline-block;
  margin: 2px 8px 2px 0px;
  font-size: 0.8em;
  background: #65439b;
  color: white;
  border-radius: 4px;
  padding: 4px 10px;
}
div.border {
    padding: 10px 50px 30px 20px;
    display: block;
    font-size: 1em;
    line-height: 140%;
    position: relative;
    color: #333;
    text-align: justify;
    border-radius: 6px;
    margin-top: 20px;    
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #00000036;
    overflow: hidden;
}
ul.blog li.cur {
  padding: 2px 4px;
  /*border-radius:8px;*/
  color: #444;
  background-color: white;
  color: #1c3d5e ! important;
  /*border: solid 1px #1c3d5e;*/
}
ul.blog {
  padding-left:0;
}
ul.blog li {
  list-style-image : none;
  list-style-type: none;
}
div.tags {
  margin-bottom: 10px;
}
span.tag {
  display: inline-block;
  margin: 2px 8px 2px 0px;
  font-size: 0.8em;
  background: #11429b;;
  color: white;
  border-radius: 4px;
  padding: 2px 8px;
}
div.presentation {
  clear:both;
  margin: 0 40px 20px 20px;
}

@media print {
  body {
    width:100%!important;
    padding:0!important;
    margin:0!important;
  }
  #content {
    line-height: 1 !important;
  }  
  div#preview {
    display: block;
  }  
  div#content {
    grid-area: none;
  }  
  div#menu, div.noprint {
    display: none !important;
  }
  div.border {
    padding: 0;
    display: block;
    font-size: 1em;
    line-height: 120%;
    position: relative;
    color: #333;
    text-align: justify;
    border-radius: 0;
    margin-top: 0;
    background: white;
    border: none;
    box-shadow: none;
    overflow: hidden;
  } 
  a {
    color: black;
    text-decoration: underline;
  } 
  h1, h2, h3 {
    font-family: Georgia, Garamond, serif;
    color: black;
  }
  #content p, #content li {
    font-family: georgia, times, serif;;    
  }
  h1 {
    font-size: 20pt !important;
  }
  h2 {
    font-size: 16pt !important;
  }
  h3 {
    font-size: 12pt !important;
  }
  blockquote {
    margin: 30px 0 !important;
  }
  blockquote, p, li {
    font-size: 11pt !important;
    text-align: justify;
  }
  img.minimp {
    max-height: 11.5cm;
  }
}
